@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  height: 100%;
  font-family: "Oswald-Regular";
  font-weight: 200;
}

body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.container {
  transition: $resize;
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
  padding: 0 110px;
}

.main-content {
  width: 100%;
}

.main-screen{
  transition: $resize;
  width: 100%;
  & > .container{
    height: 693px;
    padding-top: 3px;
    background: url("../images/general/cat-energy-pro.png") no-repeat top 143px right 35%,url("../images/general/index-background-desktop.jpg") no-repeat right 0 top 0;
    & > .main-content{
      transition: $resize;
      width: auto;
      margin: 226px 0 0 75px;
      & > .main-title{
        font-size: $main-title;
      }
      & > .main-description{
        margin: 46px 0 54px 0;
        text-transform: uppercase;
        font-size: $subtext;
      }
      & > .main-button{
        text-transform: uppercase;
        cursor: pointer;
        font-size: $subtext;
        border: none;
        width: 245px;
        height: 52px;
        background-color: $main-color;
        color: #fff;
      }
    }
  }
}
.how-works{
  & > .container{
    padding-top: 80px;
    padding-bottom: 216px;
    & > .main-content{
      display: flex;
      justify-content: space-between;
      & > .card{
        padding: 42px 52px;
        width: 570px;
        height: 372px;
        background-color: $sub-color;
        & > .card__title{
          display: flex;
          align-items: center;
          text-transform: uppercase;
          & > .card__title-text{
            font-weight: 200;
          }
          &:before{
            content: "";
            margin-right: 64px;
            display: block;
            width: 100px;
            height: 110px;
          }
        }
        & > .card__description{
          margin: 40px 0;
          display: block;
          font-family: Arial;
          color: $font-color;
          font-size: $main-text;
          width: 446px;
        }
        & > .card__link{
          color: #000;
          cursor: pointer;
          text-transform: uppercase;
          font-size: $subtext;
          position: relative;
          &:after{
            position: absolute;
            top: 0;
            content: url("../images/svg/right-arrow.svg");
            width: 10px;
            height: 10px;
            margin: 0 0 0 25px;
          }
        }
      }
      & > .card:nth-child(1){
        & > .card__title{

          &:before{
            background: url("../images/svg/cat-slim.svg") no-repeat top 1px center,radial-gradient(circle, $main-color 48px, transparent 50px);
          }
        }
      }
      & > .card:nth-child(2){
        & > .card__title{
          &:before{
            width: 144px;
            margin-right: 20px;
            background: url("../images/svg/cat-pro.svg") no-repeat center left 4px,radial-gradient(circle, $main-color 48px, transparent 50px);
          }
        }
      }
    }
  }
}
@media (max-width: 1380px) {
  .how-works {
    & > .container {
      padding-top: 80px;
      padding-bottom: 216px;
      & > .main-content {
        flex-direction: column;
        align-items: center;
        & > .card:nth-child(2){
          margin-top: 30px;
        }
      }
    }
  }
}
@media (max-width: 1220px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 1024px) {
  .main-screen{
    & > .container{
      background: url("../images/general/cat-energy-pro.png") no-repeat top 200px right 0;
    }
  }
}

@media (max-width: 768px){
  .main-screen{
    & > .container{
      height: 950px;
      background: url("../images/general/cat-energy-pro.png") no-repeat top 390px right 81px;
      & > .main-content{
        margin: 144px 0 0 90px;
        & > .main-description{
          margin: 46px 0;
        }
      }
    }
  }
  .main-screen_open{
    margin-top: 273px;
  }
  .how-works {
    & > .container {
      & > .main-content {
        & > .card{
          width: 100%;
          & > .card__title{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            & > .card__title-text{
              font-weight: 200;
            }
            &:before{
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 650px){
  .main-screen{
    & > .container{
      display: flex;
      justify-content: center;
      background: url("../images/general/cat-energy-pro.png") no-repeat top 380px center;
      & > .main-content{
        margin: 144px 0 0 0;
        & > .main-title{
          font-size: $sub-title;
        }
        & > .main-description{
          margin: 2.3em 0;
          font-size: $small-text;
        }
        & > .main-button{
          font-size: $tab_link;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .container{
   padding: 0 20px;
  }
  .main-screen{
    & > .container{
      height: 568px;
      display: flex;
      justify-content: center;
      background: url("../images/general/cat-energy-mobile.png") no-repeat top 219px right 64px, url("../images/general/index-background-mobile.jpg") no-repeat top 57px center, linear-gradient(to bottom, rgb(99, 167, 58) 63.7%, rgba(99, 167, 58, 0) 63.7%, rgba(255, 255, 255, 0) 100%, rgb(4, 120, 21) 100%);
      & > .main-content{
        color: #fff;
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        & > .main-title{
          font-weight: 200;
          margin-top: 74px;
          font-size: $sub-title;
        }
        & > .main-description{
          margin-top: -284px;
          font-size: $small-text;
        }
        & > .main-button{
          height: 40px;
          width: 100%;
          font-size: $tab_link;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .main-screen{
    & > .container {
      height: 568px;
      display: flex;
      justify-content: center;
      background: url("../images/general/cat-energy-mobile.png") no-repeat top 220px right 12px, url("../images/general/index-background-mobile.jpg") no-repeat top 57px center, linear-gradient(to bottom, rgb(99, 167, 58) 63.7%, rgba(99, 167, 58, 0) 63.7%, rgba(255, 255, 255, 0) 100%, rgb(4, 120, 21) 100%);
    }
  }
}

//Модули
@import "modules/modules";
