header.header
    .container
        .main-content
            .header__logo
                img(src="../static/images/svg/logo-desktop.svg").header__logo-img
                img(src="../static/images/svg/logo-mobile.svg").header__logo-img.header__logo-img_mobile
            .header__brand
                img(src="../static/images/svg/brand-mobile.svg").header__brand-img
            .header__close
                .header__sandwich
                    span.header__close-line
                    span.header__close-line
                    span.header__close-line
                    span.header__close-line
            nav.menu
                li.menu__list
                    a(href="#").menu__link.menu__link_active Главная
                li.menu__list
                    a(href="#").menu__link Каталог продукции
                li.menu__list
                    a(href="#").menu__link Подбор программы
    nav.menu.menu_mobile
        li.menu__list
            a(href="#").menu__link Главная
        li.menu__list
            a(href="#").menu__link Каталог продукции
        li.menu__list
            a(href="#").menu__link Подбор программы