.how-works
    .container
        .main-content
            .card
                .card__title
                    h2.card__title-text похудение
                p.card__description Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.
                a.card__link Каталог Slim
            .card
                .card__title
                    .card__icon
                    h2.card__title-text Набор Массы
                p.card__description Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!
                a(href="#").card__link Каталог Slim
