.main-screen
    .container
        .main-content
            h1.main-title Функциональное<br>питание для котов
            p.main-description Занялся собой? Займись котом!
            button.main-button Подобрать программу