@font-face{
  font-family: 'Oswald-Regular';
  src: url('/static/fonts/Oswald-Regular/Oswald-Regular.woff') format('woff'),
  url('/static/fonts/Oswald-Regular/Oswald-Regular.woff') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face{
  font-family: 'Oswald-Medium';
  src: url('/static/fonts/Oswald-Medium/Oswald-Medium.woff') format('woff'),
  url('/static/fonts/Oswald-Medium/Oswald-Medium.woff') format('woff2');
  font-weight: 200;
  font-style: normal;
}