// Colors
$main-color: #68b738;
$sub-color: #f2f2f2;
$sub-font-color: #444444;
$font-color: #111111;

//Transition
$resize: .5s;

// Sizes
$base-font-size: 16px;

$breakpoints: (
        Laptop : 1440px,
        Tablet: 768px,
        620px: 620px,
        Mobile : 425px
);


$content-size: 1440px;


//Font-size
$main-title: (
        Laptop : 3.75rem,
        Tablet: 2.25rem,
        Mobile : 2.25rem,
        null  : 3.75rem
);
$sub-title: (
        Laptop : 2.25rem,
        Tablet: 2.25rem,
        Mobile : 1.5rem,
        null  : 2.25rem
);
$sub-text: (
        Laptop : 1.25rem,
        Tablet: 1.25rem,
        620px: 1.25rem,
        Mobile : .875rem,
        null  : 1.25rem
);
$sub-text-two: (
        Laptop : 1.25rem,
        Tablet: 1.25rem,
        Mobile : 1rem,
        null  : 1.25rem
);
$text: (
        Laptop : 1rem,
        Tablet: 1rem,
        620px: 1rem,
        Mobile : .875rem,
        null  : 1rem
);
$small-text: (
        Laptop : .875rem,
        Tablet: .875rem,
        Mobile : .75rem,
        null  : .875rem
);
$link: (
        Laptop : 1.25rem,
        Tablet: 1.125rem,
        Mobile : 1.25rem,
        null  : 1.25rem
);
