.header {
  position: fixed;
  width: 100%;
  & > .container {
    padding-top: 54px;
    & > .main-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      & > .header__logo{
        & > .header__logo-img{
          transition: $resize;
          width: 202px;
          flex-basis: 25%;
        }
        & > .header__logo-img_mobile{
          display: none;
        }
      }
      & > .menu{
        display: flex;
        justify-content: flex-end;
        flex-basis: 75%;
        & > .menu__list{
          height: 44px;
          &:not(:last-child){
            margin-right: 36px;
          }
          & > .menu__link{
            color: #fff;
            transition: $resize;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            height: 40px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            @include font-size($link);
          }
          & > .menu__link_active{
            border-bottom: 2px solid #fff;
          }
        }
      }
      & > .header__brand, .header__close{
        display: none;
      }
    }
  }
  & > .menu_mobile{
    opacity: 0;
    display: none;
  }
}
@media (max-width: 1024px) {
  .header {
    & > .container {
      & > .main-content{
        & > .menu{
          & > .menu__list{
            & > .menu__link{
              color: #000;
            }
            & > .menu__link_active{
              border-bottom: 2px solid $main-color;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    & > .container {
      & > .main-content{
        & > .header__logo{
          & > .header__logo-img{
            width: 173px;
          }
        }
        & > .menu{
          & > .menu__list{
            & > .menu__link{
              color: #000;
            }
            & > .menu__link_active{
              border-bottom: 2px solid $main-color;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .header {
    height: 57.25px;
    transition: .53s;
    & > .container {
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
      z-index: 4;
      background-color: #fff;
      & > .main-content{
        flex-wrap: wrap;
        & > .header__logo{
          flex-basis: 15%;
          & > .header__logo-img{
            display: none;
          }
          & > .header__logo-img_mobile{
            width: 33px;
            display: block;
          }
        }
        & > .menu{
          display: none;
        }
        & > .header__brand,.header__close{
          display: block;
        }
        & > .header__brand{
          flex-basis: 70%;
        }
        & > .header__close{
          flex-basis: 15%;
        }
        & > .header__brand{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & > .header__close{
          & > .header__sandwich{
            margin-left: auto;
            width: 25px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            & > .header__close-line{
              transition: .3s;
              position: relative;
              width: 25px;
              height: 4px;
              background-color: #000;
              border-radius: 10px;
              &:nth-child(1), &:nth-child(4){
                left: 0;
                opacity: 1;
              }
              &:nth-child(2){
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
              }
            }
          }
          & > .header__sandwich_open{
            & > .header__close-line{
              &:nth-child(1), &:nth-child(4){
                transition: .3s;
                opacity: 0;
              }
              &:nth-child(2){
                transition: .5s;
                top: 42%;
                transform: rotate(45deg);
              }
              &:nth-child(3){
                transition: .5s;
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
    }
    & > .menu_mobile{
      position: relative;
      z-index: 2;
      transition: .5s;
      top: -250px;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      & > .menu__list {
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child) {
          margin-right: 0;
        }
        &:nth-child(1),&:nth-child(3){
          border-top: 1px solid #e6e6e6;
          border-bottom: 1px solid #e6e6e6;
        }
        & > .menu__link {
          padding: 24px 0;
          text-transform: uppercase;
          font-family: 'Oswald-Medium';
          @include font-size($link);
          transition: .5s;
          color: #000;
        }
      }
    }
    & > .menu_open{
      opacity: 1;
      top: 0;
    }
  }
  .header_open{
    height: 280px;
  }
}